.page-cont {
  background: var(--personBg);
  border-radius: 5px;
  padding: 10px;
  border: 2px solid var(--borderColor);
  width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

.overflow-cont {
  height: 325px;
  overflow-y: auto;
  overflow-x: hidden;
}

.form-cont {
  padding: 10px;
}

.add-more {
  background: transparent;
  border: none;
  font-size: 12px;
  color: blue;
  padding: 0;
}

.add-more:hover {
  border-bottom: 1px solid blue;
}

.add-more:active {
  transform: translateY(2px);
}

.btn-close {
  position: relative;
  left: 5px;
}

.nsd-cont {
  width: 200px;
}

.badge {
  width: 92.41px;
}

.save {
  height: 30px;
}

.nsd-select {
  width: 220px !important;
}

.frequency {
  width: 220px !important;
}

.nPat-label {
  font-weight: 600;
  color: var(--viewLetters);
}

.npat-input {
  border: 1px solid var(--borderColor);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

.form-check-input:checked {
  background-color: var(--fulfilled);
  border-color: var(--borderColor);
}

.form-switch .form-check-input:focus:before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='black'/%3e%3c/svg%3e");
  border: 1px solid var(--borderColor);
}

.form-switch .form-check-input:focus:after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
  border: 1px solid var(--borderColor);
}

.close-all {
  font-size: 15px;
  font-weight: 600;
  padding: 15px;
  position: relative;
  bottom: 10px;
}

.close-all:focus {
  border-color: #6a9f6d;
  box-shadow: 0 0 0 0.2rem rgba(106, 159, 109, 0.25);
}

.autocomplete-dropdown-container {
  border-radius: 5px;
  border-color: #6a9f6d;
  box-shadow: 0 0 0 0.2rem rgba(106, 159, 109, 0.25);
  border-top: none;
}

.autocomplete-dropdown-container-none {
  border: none;
}

.bottom-border {
  border-radius: 5px;
  border-color: #6a9f6d;
  box-shadow: 0 0 0 0.2rem rgba(106, 159, 109, 0.25);
  border-top: none;
}

.location-search-input-bot {
  border-bottom: none;
}

.form-select:focus {
  border-color: #6a9f6d;
  box-shadow: 0 0 0 0.2rem rgba(106, 159, 109, 0.25);
}
