.btn-container {
  display: flex;
  justify-content: center;
}

.btn-style {
  width: 100%;
  background: #003271;
  border: 1px solid #003271;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  height: 34px;
}

label {
  color: #003271;
  font-weight: 500;
}
