.group {
  border: 2px solid var(--borderColor);
  border-radius: 3px;
  min-width: 170px;
  max-width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.group-number {
  font-weight: 700;
}

.ellipsis-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.patient-cont {
  border: 1px solid var(--borderColor);
  width: 9rem;
  padding: 5px;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--patientLetters);
  font-weight: 700;
  border-radius: 3px;
  background: var(--personBg);
  cursor: grab;
}

.patient-cont:active {
  cursor: grabbing;
}

.used {
  background: var(--disabledBg);
}

.pat-cont-disabled {
  border: 1px dotted red;
}
