.pat-select {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 200px;
  height: 37.6px;
}

.search-group {
  margin: 0 !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 300px !important;
  height: 37.6px;
}

.search-btn {
  background: var(--fulfilled);
  border: 1px solid var(--borderColor);
  color: var(--hoverLetters);
  font-weight: 600;
  font-size: 12px;
  border-radius: 5px;
}

.add-btn {
  width: 100px;
  height: 37.6px;
  background: var(--fulfilled);
  border: 1px solid var(--borderColor);
  color: var(--hoverLetters);
  font-weight: 600;
  font-size: 12px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pat-cont {
  border: 2px solid var(--borderColor);
  border-radius: 3px;
  background: var(--personBg);
  width: 100%;
  height: 60px;
  padding: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

.ellipsis-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.info-cont {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.larger-cont {
  width: 200px;
}

.pat-name {
  font-weight: 700;
  color: var(--patientLetters);
}

.pat-active,
.pat-address,
.pat-frequency,
.pat-number {
  color: var(--viewLetters);
  font-weight: 600;
}

.view-btn {
  background: var(--fulfilled);
  border: 1px solid var(--borderColor);
  color: var(--hoverLetters);
  width: 80px;
  height: 30px;
  font-weight: 600;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-btn,
.add-btn:active {
  transform: translateY(2px);
}

.overlay {
  position: relative;
}

.overlay::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  pointer-events: none;
}

.above-overlay-n {
  z-index: 1001;
  position: absolute;
  top: 5%;
  left: 25%;
}

.badge {
  background: var(--fulfilled);
  color: var(--hoverLetters);
}

.nsd-cont {
  padding: 5px;
}

.btn-close {
  font-size: 8px;
  color: red !important;
  margin-left: 2px;
  align-items: top;
}
