.ellipsis-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.title {
  color: var(--patientLetters);
  font-weight: 700;
  padding: 5px;
}

.info-icon-btn {
  font-weight: 600;
  background: transparent;
  border: none;
  font-size: 12px;
}

.info-icon:hover {
  fill: #499165;
}

.extra-add-btn {
  font-weight: 600;
  font-size: 12px;
  background: var(--fulfilled);
  color: var(--hoverLetters);
  height: 30px;
}

.add-ex-cont {
  font-weight: 600;
  font-size: 12px;
  background: var(--fulfilled);
  color: var(--hoverLetters);
  height: 30px;
  width: 9rem;
  padding: 3px;
  height: 45px;
  margin-bottom: 5px;
  background: var(--fulfilled);
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

.add-ex-cont:hover {
  background: var(--borderColor);
}

.person-cont {
  width: 9rem;
  padding: 3px;
  height: 45px;
  background: var(--personBg);
  margin-bottom: 5px;
  border: 1px solid var(--borderColor);
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

.name {
  font-weight: 700;
  font-size: 15px;
  color: var(--patientLetters);
}

.address {
  font-size: 10px;
  font-weight: 600;
  color: var(--viewLetters);
}

.used {
  background: var(--usedBg);
}
