.header-cont {
  background: var(--personBg);
  height: 60px;
  border-radius: 5px;
  border: 1px solid var(--borderColor);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.back-btn {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
}

.back-btn:active {
  transform: translateY(2px);
}

.back-color:hover {
  fill: #4e4e4e;
}

.p-name {
  font-size: 22px;
  font-weight: 600;
  color: var(--patientLetters);
  display: flex;
  align-items: center;
}

.edit-active {
  font-weight: 600;
  color: var(--viewLetters);
}

.form-check-input:hover {
  cursor: pointer;
}

.remove-pat {
  border-radius: 5px;
  background: transparent;
  font-weight: 600;
  width: 100px;
  padding: 2px;
}

.trash:hover {
  fill: var(--fulfilled);
}

.edit-name {
  background: transparent;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: var(--viewLetters);
  padding: 0;
}

.edit-name:hover {
  color: var(--patientLetters);
}

.edit-name:active {
  transform: translateY(2px);
}

.notes-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--borderColor);
}

.notes-section {
  height: 70vh;
  width: 100%;
  border: 1px solid var(--borderColor);
  background: var(--personBg);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.notes-title {
  font-weight: 600;
  color: var(--patientLetters);
  padding: 3px;
}

.no-notes-titles {
  font-weight: 600;
  color: var(--viewLetters);
  padding: 3px;
}

.notes-add {
  background: var(--fulfilled);
  margin: 5px;
  height: 30px;
  display: flex;
  align-items: center;
  color: var(--hoverLetters);
  font-weight: 600;
}

.area-for-notes {
  overflow-y: scroll;
}

.no-note-alt {
  font-weight: 600;
  color: var(--viewLetters);
}

.notes-add-span {
  color: var(--patientLetters);
  font-weight: 800;
}

.note-cont {
  border: var(--customBorder);
  border-radius: var(--borderRad);
  box-shadow: 0 0 0 0.2rem rgba(106, 159, 109, 0.25);
}

.note-time {
  font-size: 13px;
  font-weight: 600;
  color: var(--patientLetters);
  display: flex;
  justify-content: end;
}

.note-content-cont {
  max-height: 80px;
  max-width: 100%;
  overflow-y: scroll;
  text-overflow: ellipsis;
}

.note-content {
  font-size: 15px;
  font-weight: 600;
  color: var(--viewLetters);
  overflow-wrap: break-word;
}

.note-bottom {
  border-top: var(--customBorder);
}

.note-del {
  background: transparent;
  border: none;
  margin-top: 3px;
  margin-right: 10px;
  font-size: 13px;
  font-weight: 600;
  color: red;
}

.note-del:hover {
  color: var(--viewLetters);
}

.note-del:active {
  transform: translateY(2px);
}

#button-tooltip {
  background: var(--fulfilled);
}

.note-edit {
  background: transparent;
  border: none;
  margin-top: 3px;
  margin-right: 10px;
  font-size: 13px;
  font-weight: 600;
  color: var(--patientLetters);
}

.note-edit:hover {
  color: var(--viewLetters);
}

.note-edit:active {
  transform: translateY(2px);
}

.contact-section {
  height: 32.5vh;
  width: 100%;
  border: 1px solid var(--borderColor);
  background: var(--personBg);
  border-radius: 5px;
  margin-bottom: 33px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-header {
  display: flex;
  justify-content: space-between;
}

.contact-title {
  font-weight: 600;
  color: var(--patientLetters);
  padding: 3px;
}

.contact-edit {
  background: transparent;
  border: none;
  margin-top: 3px;
  margin-right: 10px;
  font-size: 13px;
  font-weight: 600;
  color: var(--patientLetters);
}

.contact-edit:hover {
  color: var(--viewLetters);
}

.contact-edit:active {
  transform: translateY(2px);
}

.contact-label {
  margin-top: 15px;
  font-size: 13px;
  font-weight: 600;
  color: var(--patientLetters);
}

.contact-info {
  margin-top: 15px;
  font-size: 13px;
  font-weight: 600;
  color: var(--viewLetters);
}

.solid {
  width: 100%;
  position: relative;
  bottom: 5px;
}

.edit-input {
  margin-top: 0;
  padding: 0;
  padding-left: 2px;
  width: 100%;
  border-radius: var(--borderRad);
  border: var(--customBorder);
}

.edit-input:focus {
  border-color: #6a9f6d;
  box-shadow: 0 0 0 0.2rem rgba(106, 159, 109, 0.25);
  outline: var(--customBorder);
}

.extra-section {
}

.extra-input {
  background: transparent;
  width: 40px;
  border-radius: var(--borderRad);
  border: var(--customBorder);
}

.extra-input:focus {
  border-color: #6a9f6d;
  box-shadow: 0 0 0 0.2rem rgba(106, 159, 109, 0.25);
  outline: var(--customBorder);
}

.extra-nsd {
  width: 100px;
  border-radius: var(--borderRad);
  border: var(--customBorder);
  margin-top: 2px;
  cursor: pointer;
}

.extra-nsd:focus {
  border-color: #6a9f6d;
  box-shadow: 0 0 0 0.2rem rgba(106, 159, 109, 0.25);
  outline: var(--customBorder);
}

.extra-nsd:disabled {
  background: var(--disabledBg);
  cursor: auto;
}

.dis-badge {
  background: var(--disabledBg);
  color: var(--viewLetters);
  border: var(--customBorder);
}

.delete-modal {
  position: relative;
  border: 3px solid var(--borderColor);
  box-shadow: 0 0 0 0.2rem rgba(106, 159, 109, 0.25);
  background: var(--personBg);
  bottom: 600px;
  width: 30%;
  left: 40%;
  z-index: 20001;
  border-radius: var(--borderRad);
}

.p-notes-modal {
  position: relative;
  border: 3px solid var(--borderColor);
  box-shadow: 0 0 0 0.2rem rgba(106, 159, 109, 0.25);
  background: var(--personBg);
  bottom: 600px;
  width: 55%;
  left: 6%;
  z-index: 20001;
  border-radius: var(--borderRad);
}
