.group-cont {
  height: auto;
  width: auto;
  max-height: auto;
  border: var(--customBorder);
}

.del-pat-x {
  font-size: 10px;
}

.person-man-cont {
  width: 6rem;
  padding: 3px;
  height: 45px;
  background: var(--personBg);
  margin-bottom: 5px;
  border: 1px solid var(--borderColor);
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  cursor: grab;
}

.person-man-cont:active {
  cursor: grabbing;
}

.man-w-h {
  height: 30px;
  width: 8rem;
}

.name-man {
  font-weight: 700;
  font-size: 12px;
  color: var(--patientLetters);
}