.group-cont {
  height: auto;
  width: auto;
  max-height: auto;
  border: 2px solid var(--borderColor);
}

.del-group-x {
  font-size: 10px;
}

.del-pat-x {
  font-size: 12px;
}

.person-man-cont {
  width: 6rem;
  padding: 3px;
  height: 45px;
  background: var(--personBg);
  margin-bottom: 5px;
  border: 1px solid var(--borderColor);
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  cursor: grab;
}

.person-man-cont:active {
  cursor: grabbing;
}

.man-w-h {
  height: 30px;
  width: 8rem;
}

.name-man {
  font-weight: 700;
  font-size: 12px;
  color: var(--patientLetters);
}

.manual-btns {
  background: var(--fulfilled);
  color: #fff;
  font-weight: 600;
  border: var(--customBorder);
  box-shadow: var(--enhanceBoxShadow);
}

.manual-btns:hover {
  border: var(--customBorder);
}

.add-man-group-btn {
  font-weight: 600;
  color: var(--fulfilled);
}

.add-man-group-btn:hover {
  color: var(--fulfilled);
  transform: translateY(-2px);
}

.add-group-icon {
  width: 20px;
  height: 20px;
}

.check-mark-icon {
  width: 15px;
  height: 15px;
}

.check-mark-btn {
  background: transparent;
  border: none;
}

.check-mark-btn:hover {
  cursor: pointer;
}