:root {
  --borderColor: #6a9f6d;
  --viewLetters: #4e4e4e;
  --fulfilled: #499165;
  --patientLetters: #499165;
  --hoverLetters: #fff;
  --eventBg: #30afb4;
  --personBg: rgb(248, 247, 247);
  --usedBg: rgba(128, 128, 128, 0.267);
  --disabledBg: #93d9ae50;
  --borderRad: 5px;
  --customBorder: 1px solid var(--borderColor);

  /* nav */
  --link: #141414;
  --contBg: linear-gradient(180deg, #93d5d9 0%, rgba(147, 213, 217, 0) 100%);
}

.overall {
  background: linear-gradient(
    109deg,
    rgba(149, 218, 199, 0.77) 4.09%,
    rgba(149, 218, 199, 0.13) 100%
  );

  min-height: 100vh;
  max-width: 100vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.loading-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-control:focus {
  border-color: #6a9f6d;
  box-shadow: 0 0 0 0.2rem rgba(106, 159, 109, 0.25);
}

select:active {
  border-color: #6a9f6d;
  box-shadow: 0 0 0 0.2rem rgba(106, 159, 109, 0.25);
}

.form-select:focus {
  border-color: #6a9f6d;
  box-shadow: 0 0 0 0.2rem rgba(106, 159, 109, 0.25);
}

.form-check-input:focus {
  border-color: #6a9f6d;
  box-shadow: 0 0 0 0.2rem rgba(106, 159, 109, 0.25);
}
